<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">O que vamos aprender no Jovem Programador?</h4>
  <p> <br />- Desenvolver Sistemas de Informação;</br>
  <br />  - Implementação a banco de dados;</br>
  <br />  - Teste e manutenção do Sistema de Informação;</br>
  <br />  - Elaborar projetos de aplicações para web;</br>
  <br /> - Estruturar aplicações front-end para web;</br>
  <br /> - Desenvolver aplicações back-end para web;</br>
  <br />  - Publicar aplicações web.</p></br>
  <hr>
  <p class="mb-0"> </p>
</div>