@{
    ViewData["Title"] = "Dados de cadastro";
}
<h1>@ViewData["Title"]</h1>

<p>Alunos cadastrados para o curso de programação web.</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jessica</td>
            <td>28</td>
            <td>jessica.borges1@alunos.senac.sc.br</td>
        </tr>
        <tr>
            <td>Aline</td>
            <td>20</td>
            <td>aline.reis@alunos.senac.sc.br</td>
        </tr>
        <tr>
            <td>Mirela</td>
            <td>23</td>
            <td>mirela.mi@alunos.senac.sc.br</td>

        </tr>
    </tbody>
</table>