@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo ao Jovem Programador!</h1>
    <p>Acesse para saber em: <a href="https://www.jovemprogramador.com.br/sobre.php">Jovem Programador</a>.</p>
</div>
