@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo ao curso de Programação Web!</h1>
    <p>Acesse aqui agora <a href="https://www.youtube.com/watch?v=VZY03tEIDKA">Conteúdo de qualidade</a>.</p>
</div>
