@{
    ViewData["Title"] = "Professores de TI";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Professor</th>
            <th scope="col">Disciplina</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nivaldo</td>
            <td>Aplicação web</td>
           
        </tr>
        <tr>
            <td>Kátia</td>
            <td>Aplicações back-end</td>
            
       

        </tr>
    </tbody>
</table>