@{
    ViewData["Title"] = "Professores de TI";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Professor</th>
            <th scope="col">Disciplina</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nivaldo</td>
            <td>Implementar Banco de Dados</td>
            <td>Elaborar projetos de aplicações para web</td>
            <td>Estruturar aplicações front-end para web</td>
            
            
           
        </tr>
        <tr>
            <td>Kátia</td>
            <td>Desenvolver Sistemas de Informação</td>
            <td>Realizar Testes e Manutenção do Sistema de Informação</td>
            <td>Desenvolver aplicações back-end para web</td>
            <td>Publicar aplicações web</td>
            
       

        </tr>
    </tbody>
</table>